<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <link rel="stylesheet" href="./../css/reset.css">
    <link rel="stylesheet" href="./../css/common.css">
    <link rel="stylesheet" href="./../css/list2.css">
</head>
<body>
<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="javascript:void(0);">首页</a></li>
            <li class="nav-item"><a href="javascript:void(0);">产品中心</a></li>
            <li class="nav-item"><a href="javascript:void(0);">实体店</a></li>
            <li class="nav-item logo"></li>
            <li class="nav-item"><a href="javascript:void(0);">首页</a></li>
            <li class="nav-item"><a href="javascript:void(0);">产品中心</a></li>
            <li class="nav-item"><a href="javascript:void(0);">实体店</a></li>
        </ul>
    </nav>
</header>
<main class="main list">
    <div class="menu-wrapper">
        <ul class="menus">
            <li class="menu">
                <h2 class="menu-title">材质分类</h2>
                <ul class="menu-list">
                    <li class="menu-item"><span>材质分类1</span></li>
                    <li class="menu-item"><span>材质分类1</span></li>
                    <li class="menu-item"><span>材质分类1</span></li>
                    <li class="menu-item"><span>材质分类1</span></li>
                </ul>
            </li>
            <li class="menu">
                <h2 class="menu-title">颜色分类</h2>
                <ul class="menu-list">
                    <li class="menu-item"><span>颜色分类1</span></li>
                    <li class="menu-item"><span>颜色分类1</span></li>
                    <li class="menu-item"><span>颜色分类1</span></li>
                    <li class="menu-item"><span>颜色分类1</span></li>
                </ul>
            </li>
            <li class="menu">
                <h2 class="menu-title">价格分类</h2>
                <ul class="menu-list">
                    <li class="menu-item"><span>价格分类1</span></li>
                    <li class="menu-item"><span>价格分类1</span></li>
                    <li class="menu-item"><span>价格分类1</span></li>
                    <li class="menu-item"><span>价格分类1</span></li>
                </ul>
            </li>
            <li class="menu">
                <h2 class="menu-title">风格分类</h2>
                <ul class="menu-list">
                    <li class="menu-item"><span>风格分类1</span></li>
                    <li class="menu-item"><span>风格分类1</span></li>
                    <li class="menu-item"><span>风格分类1</span></li>
                    <li class="menu-item"><span>风格分类1</span></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="good-wrapper">
        <ul class="goods clearfix">
            <li class="good">
                <a class="item" href="javascript:void(0);">
                    <img class="img" src="../images/list/柜子.jpg">
                    <div class="intro">
                        <h3 class="name-ch">储物柜</h3>
                        <span class="line"></span>
                        <h4 class="name-en">北欧印象</h4>
                        <p class="desc">
                            1、全方位胡桃木贴皮带来的温暖质感<br>
                            2、多元素结合，风格混搭，可与多种家装风格搭配<br>
                            3、简洁的实木线条、曲线设计，庄重、典雅<br>
                            <!--4、整体空间专属配套设计，打造高品味客厅生活<br>-->
                        </p>
                    </div>
                    <span class="border left"></span>
                    <span class="border top"></span>
                    <span class="border right"></span>
                    <span class="border bottom"></span>
                </a>
            </li>
            <li class="good">
                <a class="item" href="javascript:void(0);">
                    <img class="img" src="../images/list/柜子.jpg">
                    <div class="intro">
                        <h3 class="name-ch">储物柜</h3>
                        <span class="line"></span>
                        <h4 class="name-en">北欧印象</h4>
                        <p class="desc">
                            1、全方位胡桃木贴皮带来的温暖质感<br>
                            2、多元素结合，风格混搭，可与多种家装风格搭配<br>
                            3、简洁的实木线条、曲线设计，庄重、典雅<br>
                            <!--4、整体空间专属配套设计，打造高品味客厅生活<br>-->
                        </p>
                    </div>
                    <span class="border left"></span>
                    <span class="border top"></span>
                    <span class="border right"></span>
                    <span class="border bottom"></span>
                </a>
            </li>
            <li class="good">
                <a class="item" href="javascript:void(0);">
                    <img class="img" src="../images/list/柜子.jpg">
                    <div class="intro">
                        <h3 class="name-ch">储物柜</h3>
                        <span class="line"></span>
                        <h4 class="name-en">北欧印象</h4>
                        <p class="desc">
                            1、全方位胡桃木贴皮带来的温暖质感<br>
                            2、多元素结合，风格混搭，可与多种家装风格搭配<br>
                            3、简洁的实木线条、曲线设计，庄重、典雅<br>
                            <!--4、整体空间专属配套设计，打造高品味客厅生活<br>-->
                        </p>
                    </div>
                    <span class="border left"></span>
                    <span class="border top"></span>
                    <span class="border right"></span>
                    <span class="border bottom"></span>
                </a>
            </li>
            <li class="good">
                <a class="item" href="javascript:void(0);">
                    <img class="img" src="../images/list/柜子.jpg">
                    <div class="intro">
                        <h3 class="name-ch">储物柜</h3>
                        <span class="line"></span>
                        <h4 class="name-en">北欧印象</h4>
                        <p class="desc">
                            1、全方位胡桃木贴皮带来的温暖质感<br>
                            2、多元素结合，风格混搭，可与多种家装风格搭配<br>
                            3、简洁的实木线条、曲线设计，庄重、典雅<br>
                            <!--4、整体空间专属配套设计，打造高品味客厅生活<br>-->
                        </p>
                    </div>
                    <span class="border left"></span>
                    <span class="border top"></span>
                    <span class="border right"></span>
                    <span class="border bottom"></span>
                </a>
            </li>
            <li class="good">
                <a class="item" href="javascript:void(0);">
                    <img class="img" src="../images/list/柜子.jpg">
                    <div class="intro">
                        <h3 class="name-ch">储物柜</h3>
                        <span class="line"></span>
                        <h4 class="name-en">北欧印象</h4>
                        <p class="desc">
                            1、全方位胡桃木贴皮带来的温暖质感<br>
                            2、多元素结合，风格混搭，可与多种家装风格搭配<br>
                            3、简洁的实木线条、曲线设计，庄重、典雅<br>
                            <!--4、整体空间专属配套设计，打造高品味客厅生活<br>-->
                        </p>
                    </div>
                    <span class="border left"></span>
                    <span class="border top"></span>
                    <span class="border right"></span>
                    <span class="border bottom"></span>
                </a>
            </li>
            <li class="good">
                <a class="item" href="javascript:void(0);">
                    <img class="img" src="../images/list/柜子.jpg">
                    <div class="intro">
                        <h3 class="name-ch">储物柜</h3>
                        <span class="line"></span>
                        <h4 class="name-en">北欧印象</h4>
                        <p class="desc">
                            1、全方位胡桃木贴皮带来的温暖质感<br>
                            2、多元素结合，风格混搭，可与多种家装风格搭配<br>
                            3、简洁的实木线条、曲线设计，庄重、典雅<br>
                            <!--4、整体空间专属配套设计，打造高品味客厅生活<br>-->
                        </p>
                    </div>
                    <span class="border left"></span>
                    <span class="border top"></span>
                    <span class="border right"></span>
                    <span class="border bottom"></span>
                </a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>